<!Doctype html>
<html>
	<head>
		<meta-charset = "utf-8">
		<title>{{pageTitle}}</title>
	</head>
	<body>
		{{> header}}
		<p>{{soundIt welcome}}</p>
		<p><a href = "/">Home</a></p>
		<p><a href = "/about">About</a></p>
	</body>
	{{> footer}}
</html>