<!Doctype html>
<html>
	<head>
		<meta-charset = "utf-8">
		<title>404</title>
	</head>
	<body>
		<h2>We'll be right back</h2>
		<p>Site under maintenance, try again later</p>
	</body>
	{{> footer}}
</html>